<html>
  <head>
    <title>CRUD Application</title>
    <link
      href="{{url_for('static', filename = 'css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename = 'teacher.png')}}"
    />

  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <div class="well text-center">
        <h3>CRUD for Employee Data</h3>
      </div>

      <div class="jumbotron">
        <div class="row">
          <div class="col md-12">
            <h5>
              Employee List
              <button
                type="button"
                class="btn btn-primary float-right btn-sm"
                data-toggle="modal"
                data-target="#myModalup"
              >
                Upload
              </button>
              <button
                type="button"
                class="btn btn-success  float-right btn-sm"
                data-toggle="modal"
                data-target="#myModal"
              >
                Add Employee Data
              </button>
            </h5>
            {%with messages = get_flashed_messages()%} {%if messages%} {%for
            message in messages%}
            <div class="alert alert-dismissible alert-success" role="alert">
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
            {%endfor%} {%endif%} {%endwith%}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile</th>
                </tr>
              </thead>
              {%for row in employees%}
              <tr class="table-dark">
                <td>{{ row["Id"] }}</td>
                <td>{{ row["Name"] }}</td>
                <td>{{ row["Email"] }}</td>
                <td>{{ row["Mobile"] }}</td>
                <td>
                  <a
                    href="/update/{{ row['Id'] }}"
                    class="badge badge-pill badge-warning"
                    data-toggle="modal"
                    data-target="#modaledit{{ row['Id'] }}"
                    >Edit</a
                  >
                  <a
                    href="/delete/{{ row['Id'] }}"
                    class="badge badge-pill badge-danger"
                    onclick="return confirm('Are You Sure For Delete?')"
                    >Delete</a
                  >
                </td>
              </tr>
              <div
                id="modaledit{{ row['Id'] }}"
                class="modal"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Update Information</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="{{ url_for('update') }}" method="POST">

                        <div class="form-group">
                          <label for="formGroupExampleName">Name:</label>
                          <input
                            type="hidden"
                            name="Id"
                            value="{{ row['Id'] }}"
                          />
                          <input
                            type="text"
                            class="form-control"
                            id="formGroupExampleName"
                            placeholder="Full Name"
                            name="Name"
                            value="{{ row['Name'] }}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="formGroupExampleEmail">Email:</label>
                          <input
                            id="formGroupExampleEmail"
                            type="email"
                            placeholder="somebody@somewhere.dot"
                            class="form-control"
                            name="Email"
                            value="{{ row['Email'] }}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="formGroupExamplePhone">Phone:</label>
                          <input
                            id="formGroupExamplePhone"
                            type="tel"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                            placeholder="xxx-xxx-xxxx"
                            class="form-control"
                            name="Mobile"
                            value="{{ row['Mobile'] }}"
                          />
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">
                            Update
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              {%endfor%}
            </table>
          </div>
          <!-- Modal -->
          <div id="myModalup" class="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Please Insert Data</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('upload') }}" method="POST">
                    <div class="form-group">
                      <label>File path:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="File"
                        required="1"
                      />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">
                        Insert File
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="myModal" class="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Please Insert Data</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('insert') }}" method="POST">
                    <div class="form-group">
                      <label>Id:</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Your Employee Id"
                        name="Id"
                        required="1"
                      />
                    </div>
                    <div class="form-group">
                      <label>Name:</label>
                      <input
                        placeholder="Enter Your Full Name"
                        type="text"
                        class="form-control"
                        name="Name"
                        required="1"
                      />
                    </div>
                    <div class="form-group">
                      <label>Email:</label>
                      <input
                        type="email"
                        placeholder="Somebody@Somewhere.dot"
                        class="form-control"
                        name="Email"
                        required="1"
                      />
                    </div>
                    <div class="form-group">
                      <label>Phone:</label>
                      <input
                        type="tel"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        placeholder="xxx-xxx-xxxx"
                        class="form-control"
                        name="Mobile"
                        required="1"
                      />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">
                        Insert Data
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      <div class="well">
        <h3>
          Website: www.Dell.com
          <span class="float-right">Like Us: www.facebook.com</span>
        </h3>
      </div>
    </div>
  </body>
  <script
    type="text/javascript"
    src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"
  ></script>
  <script
    type="text/javascript"
    src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"
  ></script>
</html>
